<div class="loginMain">
  <div class="loginForm">
    <form>

      <div class="logoTitle">
        <img src="assets/logoweb.png">
        <h2>Đăng nhập Gallifrey</h2>
        <img src="assets/logoweb.png">
      </div>

      <div class="contentform">
        <div class="username">
          <label>Tên người dùng</label>
          <input type="text" placeholder="Tên người dùng">
        </div>

        <div class="pass">
          <label>Mật khẩu</label>
          <input type="password" placeholder="Mật khẩu">
          <br>
          <small class="hover">Quên mật khẩu?</small>
        </div>
      </div>

      <div id="btnLogin">
        <button class="hover">Đăng nhập</button>
        <br>
        <small>Chưa có tài khoản? <i class="hover">Đăng ký ngay</i></small>
      </div>

    </form>
  </div>
</div>
