<div class="signupForm">
  <div class="mainForm">
    <form>

      <div class="formTitle">
        <img src="assets/logoweb.png">
        <h2>Đăng ký tài khoản Gallifrey</h2>
        <img src="assets/logoweb.png">
      </div>

      <div class="formContent">
        <div class="firstname">
          <label>Họ</label>
          <input type="text" placeholder="Họ">
        </div>
        <div class="lastname">
          <label>Tên</label>
          <input type="text" placeholder="Tên">
        </div>
        <div class="email">
          <label>Email</label>
          <input type="email" placeholder="Email">
        </div>
        <div class="phone">
          <label>số điện thoại</label>
          <input type="number" placeholder="Số điện thoại">
        </div>
        <div class="username">
          <label>Tên người dùng</label>
          <input type="text" placeholder="Tên người dùng">
        </div>
        <div class="password">
          <label>Mật khẩu</label>
          <input type="password" placeholder="Mật khẩu">
        </div>
        <div class="password">
          <label>Xác nhận mật khẩu</label>
          <input type="password" placeholder="xác nhận mật khẩu">
        </div>
      </div>

      <div class="formBtn">
        <button>Đăng ký</button>
        <br>
        <small>Bạn đã có tài khoản? <i class="hover" routerLink="login">Đăng nhập ngay</i></small>
      </div>

    </form>
  </div>
</div>
